<?xml version="1.0" encoding="UTF-8"?>

<html>
  <head>
    <title>$action.getText("com.drunkendev.confluence.plugins.attachment-tools.config.title")</title>
    <meta name="decorator" content="atl.admin"/>
  </head>
  <body>
    <form action="#" method="post" class="aui">
      #parse ("/templates/purge-attachments/config/configure-purge-attachments-common.vm")

      <div class="buttons-container">
        <div class="buttons">
          <input class="button submit" type="submit" value="Save">
          <a href="#">Cancel</a>
        </div>
      </div>

    </form>
  </body>
</html>
