<?xml version="1.0" encoding="UTF-8"?>

<html>
  <head>
    <title>$action.getText("com.drunkendev.confluence.plugins.attachment-tools.config.title")</title>
  </head>
  <body>
    #applyDecorator("root")
      #decoratorParam ("helper" $action.helper)
      #decoratorParam ("mode" "view-space-administration")
      #decoratorParam ("context" "space-administration")
    #applyDecorator ("root")
      #decoratorParam ("context" "spaceadminpanel")
      #decoratorParam ("selection" "configure-purge-attachments-space")
      #decoratorParam ("title" "Attachment Purging")
      #decoratorParam ("selectedTab" "admin")
      #decoratorParam ("helper" $i18n.helper)

    <form action="#" method="post" class="aui">
      <h2>Attachment Purging</h2>
      <fieldset class="group">
        <legend><span>Enable Purging</span></legend>
        <div class="radio">
          <input class="radio" type="radio" name="mode" id="mode-1" value="1">
          <label for="mode-1">Disabled</label>
          <div class="description">
            Processing of this space will be ignored.
          </div>
        </div>
        <div class="radio">
          <input class="radio" type="radio"  name="mode" id="mode-2" value="2" checked="checked">
          <label for="mode-2">Enabled using global options</label>
          <div class="description">
            Use globally configured options which may be disabled.
          </div>
        </div>
        <div class="radio">
          <input class="radio" type="radio"  name="mode" id="mode-3" value="3">
          <label for="mode-3">Enabled using space options</label>
          <div class="description">
            Use custom settings specified here.
          </div>
        </div>
      </fieldset>
      <div id='space-options'>
        #parse ("/templates/purge-attachments/config/configure-purge-attachments-common.vm")
      </div>

      <div class="buttons-container">
        <div class="buttons">
          <input class="button submit" type="submit" value="Save">
          <a href="#">Cancel</a>
        </div>
      </div>

    </form>

    #end
    #end

<script>
AJS.$(function() {
  var $ = AJS.$;
  $('input[name=mode]').change(function() {
    if ($('input[name=mode]:checked').val() === '3') {
      $("#space-options input").removeAttr('disabled');
    } else {
      $("#space-options input").attr('disabled','disabled');
    }
  }).change();
});
</script>

  </body>
</html>
