
<h2>Processing Rules</h2>

<fieldset class="group">
  <div class="checkbox">
    <legend><span>Maximum days old</span></legend>
    <input class="checkbox" type="checkbox" id="ageRuleEnabled" name="ageRuleEnabled" value="true"
      #if ($ageRuleEnabled) checked="checked" #end
      />
    <label for="ageRuleEnabled">Enable</label>
    <div class="description">
      Enable to purge attachments which are greater than a set days old limit.
    </div>
  </div>
  <div class="field-group">
    <label for="maxDaysOld">Maximum days old</label>
    <input class="text short-field" type="text" id="maxDaysOld" name="maxDaysOld"
           value="$maxDaysOld"/>
    <div class="description">
      Maximum days old for prior attachment versions.
    </div>
  </div>
</fieldset>

<fieldset class="group">
  <div class="checkbox">
    <legend><span>Version Limit</span></legend>
    <input class="checkbox" type="checkbox" id="revisionCountRuleEnabled" name="revisionCountRuleEnabled" value="true"
      #if ($revisionCountRuleEnabled) checked="checked" #end
      />
    <label for="revisionCountRuleEnabled">Enable</label>
    <div class="description">
      Enable to purge attachments who exceed a given version limit.
    </div>
  </div>
  <div class="field-group">
    <label for="maxRevisions">Maximum prior versions</label>
    <input class="text short-field" type="text" id="maxRevisions" name="maxRevisions"
           value="$maxRevisions"/>
    <div class="description">
      Maximum count of prior versions to keep.
    </div>
  </div>
</fieldset>

<fieldset class="group">
  <div class="checkbox">
    <legend><span>Maximum Size</span></legend>
    <input class="checkbox" type="checkbox" id="maxSizeRuleEnabled" name="maxSizeRuleEnabled" value="true"
      #if ($maxSizeRuleEnabled) checked="checked" #end
      />
    <label for="maxSizeRuleEnabled">Enable</label>
    <div class="description">
      Enable to purge attachments which have a size greater than a given value.
    </div>
  </div>
  <div class="field-group">
    <label for="maxTotalSize">Maximum attachment size</label>
    <input class="text short-field" type="text" id="maxTotalSize" name="maxTotalSize"
           value="$maxTotalSize"/>
    <div class="description">
      Maximum size (MB) of all versions.
    </div>
  </div>
</fieldset>


<h2>Email Report</h2>

<fieldset class="group">
  <div class="checkbox">
    <legend><span>Report Only</span></legend>
    <input class="checkbox" type="checkbox" id="reportOnly" name="reportOnly" value="true"
      #if ($reportOnly) checked="checked" #end
      />
    <label for="reportOnly">Enable Report Only Mode</label>
    <div class="description">
      If enabled no processing will be performed.
    </div>
  </div>
  <div class="field-group">
    <label for="reportEmailAddress">Report Address</label>
    <input class="text long-field" type="text" id="reportEmailAddress" name="reportEmailAddress"
           value="$generalUtil.htmlEncode($!reportEmailAddress)"/>
    <div class="description">
      Send email report to this email address.
    </div>
  </div>
</fieldset>

